
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light ;
  color: rgba(255, 255, 255, 0.87);
  background-image: url("C:\Users\X1\Desktop\Amarrah Huda proj\web-dev-final\my-react-app\src\assets\images\polkadot.png");
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  min-height:120vh;
}


h1 {
  font-size: 10vh;;
  font-family: monospace;
  -webkit-text-fill-color: rgb(255, 248, 205);
  -webkit-text-stroke: 0.15vh rgb(171, 151, 154);
  padding-top: 3vh;
  line-height: 20vh;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: 5px ridge rgb(245, 137, 160);
  background-color: rgb(255, 245, 239);
  background-image: url("C:\Users\X1\Desktop\Amarrah Huda proj\web-dev-final\my-react-app\src\assets\banner3.gif") ;
  width: 155vh;
}

h2{
  font-size: 5.7vh;
  font-family: 'monospace';
  -webkit-text-fill-color: rgb(253, 190, 190);
  -webkit-text-stroke: 0.1vh rgb(250, 120, 142);
  text-shadow: 20vh gray;
  margin-left: -5vh;
  text-align:left;
  width: 20vh;
  height: 10vh;
}

ul{
  line-height: 2.5;
  display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

nav {
  font-size: 1.2em;
  font-family: Lucida Console;
  color: rgb(151, 9, 9);
  position:absolute;
  left: 18vh;
  top: 37vh;
  width: 16vh;
  height: 100vh;
  background: rgb(255, 226, 210);
  border-style: ridge;
  border-color:  rgb(255, 163, 186);
  border-width: 0.87vh;
  outline:  8px solid rgb(255, 226, 192);
}

p{
  font-size: 20px;
  color: rgb(82, 17, 17);
  float: bottom;
  margin-left: 2vh;
}

#one{
  font-family:'Lucida Console';
  font-size: 2.25vh;
  color: rgb(116, 97, 100);
  line-height: 3.5;
  text-align:left;
  background-color:rgb(255, 245, 216);
  margin-top: 11.4vh;
  border-style: ridge;
  border-color:  rgb(255, 163, 186);
  border-width: 0.87vh;
  outline:  8px solid rgb(255, 226, 192);
  height: 51.5vh;
  width: 25vh;
  padding: 5vh;
}

.graphic {
  width: 60vh;
  height: 2.4vh;
  position:absolute;
  right: 8.2vh;
  top: 35vh;
}

.graphic2 {
  width: 60vh;
  height: 2.4vh;
  position:absolute;
  right: 66vh;
  top: 35vh;
}

#strawberry{
  width: 120vh;
  height: 93vh;
  position:absolute;
  background-image: url("C:\Users\X1\Desktop\Amarrah Huda proj\web-dev-final\my-react-app\src\assets\images\strawberry.png");
  background-position: 6% 0%;
  border: solid 1.2vh rgb(255, 162, 179);
  border-radius: 30px;
  box-shadow: 20vh gray;
  right: 17vh;
  top: 43vh;

}

#two{
  font-family:'Courier New', Courier, monospace, bold;
  text-align:center;
  line-height: 2;
  text-align: left;
  font-size: 1.6vh;
  padding: 3vh;
  margin-top: 23.5vh;
  background-color:rgb(255, 245, 216);
  border-width: 0.87vh;
  border-style: ridge;
  border-color: rgb(255, 163, 186);
  outline:  8px solid rgb(255, 226, 192);
  height: 20vh;
  width: 61vh;
}

#bottom-text{
  font-family:'Courier New', Courier, monospace, bold;
  text-align:center;
  line-height: 2;
  text-align: left;
  font-size: 1.6vh;
  padding: 3vh;
  margin-top: 5vh;
  background-color:rgb(255, 245, 216);
  border-width: 0.87vh;
  border-style: ridge;
  border-color: rgb(255, 163, 186);
  outline:  8px solid rgb(255, 226, 192);
  height: 43vh;
  width: 61vh;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
