#buttons li {
    float: left;
    list-style: none;
    text-align: center;
    line-height: 7vh;
    background-color: #f89191;
    border: 1px solid rgb(149, 127, 127);
    margin: 2vh;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    margin-left: -3.3vh;
    margin-top: -1.5vh;
    width: 97.3%;
  }

.box19 { 
    margin: 0 auto; padding: 0 auto;
    width : 67%;
    height: 70%;
    position: relative;  
}

.u01 { 
    background : url("C:\Users\X1\Desktop\Amarrah Huda proj\web-dev-final\my-react-app\src\assets\f-ue.gif") repeat-x ; 
    height:32px ; 
    margin:0 32px } 
.s01 { 
    background : url("C:\Users\X1\Desktop\Amarrah Huda proj\web-dev-final\my-react-app\src\assets\f-sita.gif") repeat-x ; 
    height:32px ; 
    margin:0 32px;
 } 
.box-top { 
    background-image : url("C:\Users\X1\Desktop\Amarrah Huda proj\web-dev-final\my-react-app\src\assets\f-kado1.gif"), url("C:\Users\X1\Desktop\Amarrah Huda proj\web-dev-final\my-react-app\src\assets\f-kado2.gif"); 
    background-position:top left , top right ; 
    background-repeat:no-repeat , no-repeat ; 
    height : 32px 
} 
.box-center { 
    background-image : url("C:\Users\X1\Desktop\Amarrah Huda proj\web-dev-final\my-react-app\src\assets\f-migi.gif"), url("C:\Users\X1\Desktop\Amarrah Huda proj\web-dev-final\my-react-app\src\assets\f-hidari.gif"); 
    background-position : top right , top left ; 
    background-repeat : repeat-y , repeat-y;
    height: 130vh;
}    
.box-inner { 
    background : #fff ;  
    margin: 0 32px;
    height: 100%;
} 
.box-bottom { 
    background-image : url("C:\Users\X1\Desktop\Amarrah Huda proj\web-dev-final\my-react-app\src\assets\f-kado3.gif"), url("C:\Users\X1\Desktop\Amarrah Huda proj\web-dev-final\my-react-app\src\assets\f-kado4.gif"); 
    background-position : top left , top right ; 
    background-repeat : no-repeat , no-repeat ; 
    height: 32px; 
} 

.background.one {
    height: 100vh;
    width: 100vh;
    position: static;
    float: center;
}

#button1 {
    text-align: center;
    line-height: 2.3;
    border: 3px solid pink;
    position: absolute;
    top: 40%; left: 35%; transform: translate(-50%, -50%);
    z-index: 1;
    width: 20%;
    height: 5%;
}
