
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fdffe6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  min-height:720px;


}

h1 {
  font-size: 80px;
  font-family: Lucida Console;
  -webkit-text-fill-color: rgb(255, 205, 205);
  -webkit-text-stroke: 2px rgb(250, 120, 142);
  line-height: 3;
  margin: 20 auto;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: 5px solid rgb(245, 137, 160);
  height: 20vh;
  width: 160vh;
  background-image: url("https://i.pinimg.com/236x/12/24/03/122403d0f95bf709362373cc5f62de70.jpg");
}

ul{

  line-height: 2.5;
}

nav {
  font-size: 1.2em;
  font-family: Lucida Console;
  color: rgb(151, 9, 9);
  margin: 2px;
  padding: 2px;
  height: 5vh;
  width: 5vh;
}

p{
  font-size: 20px;
  color: rgb(82, 17, 17);
}

.one{
  font-family:'Lucida Console';
  font-size: 3vh;
  color: rgb(126, 102, 106);
  line-height: 3.5;
  text-align:left;
  float:right;
  margin:30px;
  padding: 60px;
  border: 8px solid rgb(245, 137, 160);
  border-image: url("https://i.pinimg.com/736x/13/d3/ee/13d3eec920143b0cb3ea3aaac8e97ce3.jpg") 30 round;
  border-image-width: 26px;
  outline:  8px solid rgb(255, 164, 164);
  height: 50vh;
  width: 60vh;
}

.michael {
  width: 12vh;
  height: 18vh;
  position:absolute;
  right: 10vh;
  top: 45vh;
}

.two{
  font-family:'Courier New', Courier, monospace, bold;
  text-align:center;
  float:right;
  margin:0 auto;
  margin:25px;
  padding: 25px;
  border: 5px solid  rgb(245, 137, 160);
  border-image: url("https://i.pinimg.com/736x/ea/54/54/ea5454e67e5841ff5d299247b67ac5c1.jpg") 30 round;
  outline:  8px solid rgb(255, 164, 164);
  border-image-width: 25px;
  height: 20vh;
  width: 60vh;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
