
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light ;
  color: rgba(255, 255, 255, 0.87);
  background-image: url("C:\Users\X1\Desktop\Amarrah Huda proj\web-dev-final\my-react-app\src\assets\images\polkadot.png");
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  min-height: 150vh; 
}


h1 {
  font-size: 9vh;;
  font-family: 'Lucida Handwriting';
  -webkit-text-fill-color: rgb(128, 110, 89);
  -webkit-text-stroke: 0.2vh rgb(117, 84, 89);
  padding-top: 3vh;
  line-height: 20vh;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: 1vh ridge rgb(194, 154, 145); border-radius: 15px;
  background-color: rgb(255, 245, 239);
  background-image: url("C:\Users\X1\Desktop\Amarrah Huda proj\web-dev-final\my-react-app\src\assets\banner1.gif") ;
  width: 155vh;
}

h2{
  font-size: 6vh;
  font-family: 'monospace';
  -webkit-text-fill-color: rgb(253, 190, 190);
  -webkit-text-stroke: 0.1vh rgb(250, 120, 142);
  text-shadow: 20vh gray;
  position: absolute;
  top: 37%; left: 30%; transform: translate(-50%, -50%);
  z-index: 1;
  text-align:left;
  width: 20vh;
  height: 10vh;
  margin-top: 12vh;
  margin-bottom: -15vh;
}

ul{
  width: 100%;
  line-height: 2.5;
  display: block;
    list-style-type: disc;
    margin-block-start: 10%;
    margin-block-end: 1%;
    margin-inline-start: 1%;
    margin-inline-end: 1%;
    padding-inline-start: 25%;
    unicode-bidi: isolate;
}

.navigation {
  font-size: 100%;
  font-family: Lucida Console;
  text-align: center;
  color: rgb(151, 9, 9);
  position:absolute;
  overflow: hidden; 
  top: 50%; left: 10%; transform: translate(-50%, -50%);
  width: 12%;
  height: 90%;
  margin: 0 auto; padding: 0 auto;
  background: rgb(255, 226, 210);
  border-style: ridge;
  border-color:  rgb(255, 163, 186);
  border-width: 0.87vh;
  outline:  8px solid rgb(255, 226, 192);
  box-sizing: border-box;
  float:left;
}

p{
  font-size: 20px;
  color: rgb(82, 17, 17);
  float: bottom;
  margin-left: 2vh;
}

#one{
  font-family:'Lucida Console'; font-size: 2.25vh; color: rgb(116, 97, 100);
  line-height: 3.5; text-align:left;
  position: absolute; top:37.1%; left: 81%; transform: translate(-50%,-50%);
  background-color:rgb(255, 245, 216);
  border-style: ridge;
  border-color:  rgb(255, 163, 186);
  border-width: 0.87vh;
  outline:  8px solid rgb(255, 226, 192);
  height: 63.8%;
  width: 17.8%;
  padding: 4%;
}

#divi-one {
  background-image: url("C:\Users\X1\Desktop\Amarrah Huda proj\web-dev-final\my-react-app\src\assets\choco.gif");
  position: absolute;
  top: 40%; left: 46.5%; transform: translate(-50%, -50%);
  z-index: 1;
  width: 45%;
  height:2.5%;
}

marquee {
  background: rgb(255, 200, 200);
  color: rgb(5, 4, 4);
  border: dashed 0.2vh pink; ;
  border-radius: 15px;
  position: absolute;
  top: 9%; left:69%; transform: translate(-50%, -50%);
  z-index: 1;
  width: 52%;
  height: 2.5%;
}

#me{
  float: left;
  line-height:0.3;
  text-align: center; font: monospace; font-size: 17px; 
}

#mouse {
  float:left;
  height: 34px;
  width: 32px;

}


#strawberry{
  position:absolute;
  overflow: hidden; 
  top: 53.5%; left: 50%; transform: translate(-40%, -50%);
  width: 75%;
  height: 83%;
  margin: 0 auto; padding: 0 auto;
  background-image: url("C:\Users\X1\Desktop\Amarrah Huda proj\web-dev-final\my-react-app\src\assets\wallpaper1.gif");
  background-position: 6% 0%;
  border: ridge 1vh rgb(194, 154, 145);
}




#two{
  font-family:'Courier New', Courier, monospace, bold;
  line-height: 2;
  text-align: left;
  font-size: 1.6vh;
  padding: 3%;
  position: absolute; top: 25%; left: 33%; transform: translate(-50%,-50%);
  background-color:rgb(255, 245, 216);
  border-width: 0.87vh;
  border-style: ridge;
  border-color: rgb(255, 163, 186);
  outline:  8px solid rgb(255, 226, 192);
  margin-bottom: 4%;
  height: 40%;
  width: 55%;
}

#bottom-text{
  font-family:'Courier New', Courier, monospace, bold;
  line-height: 2;
  text-align: left;
  font-size: 1.6vh;
  padding: 3%;
  position: absolute; top: 63%; left: 33%; transform: translate(-50%,-50%);
  background-color:rgb(255, 245, 216);
  border-width: 0.87vh;
  border-style: ridge;
  border-color: rgb(255, 163, 186);
  outline:  8px solid rgb(255, 226, 192);
  height: 15%;
  width: 55%;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
